NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=
DATABASE_URL=
SUPABASE_DB_PASSWORD=
SUPABASE_SERVICE_ROLE_KEY=
WA_PHONE_NUMBER_ID=
WA_BUSINESS_ACCOUNT_ID=
WA_ACCESS_TOKEN=
WA_TRUSTED_PHONE=
WA_VERIFY_TOKEN=
WA_APP_SECRET=
